<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  </head>
  <body>
    {{> navbar}}

    <div class="container">
    
      <h2>Submit new password</h2><!-- dumb butt -->
      <form action="/account/newpassword" method="post">
        <input type="password" name="password1" placeholder="Enter your new password" /><br/>
        <input type="password" name="password2" placeholder="Retype your password"/>
        <input type="hidden" name="id" value="{{id}}" />
        <input type="hidden" name="nonce" value="{{nonce}}" />
        <input type="submit" value="Reset Password" />
      </form>
    </div>  
  </body>
</html>